#avatar-preview,
.seller-info-avatar,
.profile-page-avatar {
  max-height: 260px;
  max-width: 260px;
  display: block;
  margin: 0 auto;
  aspect-ratio: 1;
}

.profile-page-avatar {
  max-height: 150px;
  max-width: 150px;
}
