.btn-primary:hover {
  color: $primary;
  background-color: $secondary;
  border-color: $primary;
}

// this might need altering in the future if other radio button are required
.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  color: white;
  background-color: $primary;
  border-color: $primary;
}

#show-register,
#show-login {
  border: none;
  background: transparent;
  text-decoration: underline;
}
