.banner-text {
  left: 2%;
  max-width: 45%;
}

.mobile-banner {
  display: none;
}

@media only screen and (max-width: 900px) {
  .desktop-banner {
    display: none;
  }

  .mobile-banner {
    display: block;
  }
}
