.btn-primary:hover {
  color: $primary;
  background-color: transparent;
  border-color: $primary;
}

.btn-primary[aria-expanded="false"] {
  color: black;
  background-color: $secondary;
  border: none;
}
